@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');


#audioplayer{
    width: 100%;
}

body {
    background-color: #1C1C2B;
    font-family: 'Quicksand', sans-serif; /* Make sure this says 'Quicksand' now! */
}

.media-controls{
    background-color: #26263B;
    color: white; /*Text Colour*/
    Border: none;
    padding: 30px 50px;
    border-radius: 10px;
    transition: transform 0.2s ease;;
    cursor: pointer;
    margin-top: 275px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.media-controls:hover{
    background-color: #D8ACA6;
    color: #1C1C1C;
    font-family: 'Quicksand', sans-serif;
    transform: scale(1.1);
}

.drop-area{
    background-color: #26263B;
    border: 2px solid #D8ACA6;
    border-radius: 10px;
    padding: 60px 40px;
    margin: 40px 20px;
    width: 60%;
    max-width: 500px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-area:hover {
    background-color: #2F2F4A;
    border-color: #ffffff;
}